.TitleText {
  font-size: 20px;
  font-weight: bold;
}

.PostBox {
  padding: 0 0.8rem;
  height: 4rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0.7rem;
  color: black;
  background-color: #fafafa;
  box-shadow: 1px 3px 8px -4px gray;
  overflow: hidden;
}

.StatusPill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  border-radius: 1rem;
  font-size: 14px;
  white-space: nowrap;
  margin-right: 7px;
}

.OpenLink {
  cursor: pointer;
  color: rgb(0, 76, 255);
  white-space: nowrap;
}
.OpenLink:hover {
  color: rgba(0, 76, 255, 0.651);
}

.LogText {
  font-weight: bold;
  font-size: 1rem;
}

.TagInput {
  width: 80%;
  margin-right: 5px;
  border-radius: 0.2rem;
}

.postButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 10px;
  border: none;
  border-radius: 0.2rem;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  background-color: #007dff;
  box-shadow: 1px 3px 8px -4px gray;
  cursor: pointer;
}

.postButton:hover {
  /* hover 시 적용되는 스타일 */
  background-color: #007bff94;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  font-size: 0.3em;
  opacity: 1; /* Firefox */
}
