.Icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Icon {
  cursor: pointer;
}

.Refresh {
  cursor: pointer;
}

.TitleNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
